   <!--====== CALL TO ACTION PART START ======-->

   <section id="call-to-action" class="call-to-action pt-125 pb-130 bg_cover" style="background-image: url(assets/images/call-to-action.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
                <div class="call-action-content text-center">
                    <h2 class="action-title">git 전체 확인은 여기서....</h2>
                    <p>python, flask, JavaScript, springboot 등 다양한 프로젝트를 연습하고 제작했던 git 페이지 입니다</p>
                    <ul>
                        <li><a class="main-btn custom" rel="nofollow" href="https://github.com/HelloLee7?tab=repositories">git 주소</a></li>

                    </ul>
                </div> <!-- call action content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== CALL TO ACTION PART ENDS ======-->