<section id="about" class="about-area pt-125 pb-130" style="background-color: #32333c;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title" style="color: whitesmoke;">저에 관하여</h2>
                    <p>정보통신 공학 융학부를 졸업후 회사에서 일하다 국방의 의무를 끝내고 온 뒤 실력을 높이고 Ai 와 기술의 빠른 발전으로 인해 달라진 현업의 흐름을 깨우치기 위해 교육기관에서 6개월 간의 특훈을 받고 왔습니다..</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50">
                    <h5 class="about-title">안녕하십니까 저는 이정희 라고 합니다</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul class="clearfix">
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-calendar"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>생년월일:</span> 1998/ 10 / 30</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Email:</span> ggp05158@naver.com</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-phone-handset"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>전화번호:</span> 010-2742-2352</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>주소:</span> 노은동 열매마을 3단지</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                    </ul>
                </div> <!-- about content -->
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="about-skills pt-25">
                    <div class="skill-item mt-25">
                        <h6 class="skill-title" style="color: whitesmoke;">Prj------------------------------------------></h6>
                        <div class="skill-header">
                            <h6 class="skill-title" style="color: whitesmoke;">HTML</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter" style="color: whitesmoke;">80</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="80"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title" style="color: whitesmoke;">CSS</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter" style="color: whitesmoke;">70</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="70"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title" style="color: whitesmoke;">JavaScript</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter" style="color: whitesmoke;">50</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="50"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title" style="color: whitesmoke;">flask</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter" style="color: whitesmoke;">60</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="60"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                </div> <!-- about skills -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->